menuconfig NRF24L01
	bool "NRF24 remote control support"

if NRF24L01

module = NRF24L01
module-str = nrf24l01
source "subsys/logging/Kconfig.template.log_config"

config NRF24L01_INIT_PRIORITY
	int "Lock init priority"
	default 90
	help
	  nRF24 initialization priority.

config NRF24L01_TRIGGER
	bool "NRF24 trigger with irq gpio"
	depends on NRF24L01
	help
	  When enabled, the NRF24L01 read is triggered by irq gpio and
	  not by polling.

config NRF24L01_READ_TIMEOUT
	int "Timout for read operation"
	depends on NRF24L01_TRIGGER
	default 1000
	help
	  nRF24 timeout for reading, in ms.

endif # NRF24L01
