/*
 * Copyright (c) 2024 Eve Redero
 * SPDX-License-Identifier: Apache-2.0
 */

&pinctrl {
spim2_default: spim2_default {
		group1 {
			pinmux = <SPIM2_MISO_GPIO2>,
				 <SPIM2_MOSI_GPIO15>,
				 <SPIM2_SCLK_GPIO14>;
		};
	};
};

&spi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";
	cs-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;

	radio0: nrf24@0 {
		reg = <0>;
		compatible = "nordic,nrf24l01";
		status = "okay";
		addr-width = <4>;
		spi-max-frequency = <500000>; // Max 8 Mbps for SPI
		ce-gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
		irq-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
		channel-frequency = <16>;
		rf-power-attenuation = <18>;
		lna-gain;
		tx-address = [e7 e7 e7 e7];
		rx-datapipes-number = <2>;
		rx-datapipe0-address = [e7 e7 e7 e7];
		rx-datapipe1-address = [de ad de ad];
		payload-fixed-size = <32>;
		payload-ack;
		payload-crc;
	};
};
