/*
 * Copyright (c) 2024 Eve Redero
 * SPDX-License-Identifier: Apache-2.0
 */

&spi1 {
	pinctrl-0 = <&spi1_sck_pb3 &spi1_miso_pb4 &spi1_mosi_pb5>;
	pinctrl-names = "default";
	cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;
	clock-frequency = <8000000>; // Max 8 Mbps for SPI
	status = "okay";

	radio0: propy_radio@0 {
		reg = <0>;
		addr-width = <4>;
		compatible = "nordic,nrf24l01";
		status = "okay";
		spi-max-frequency = <500000>; // This really sets frequency
		ce-gpios = <&gpiod 15 GPIO_ACTIVE_HIGH>;
		irq-gpios = <&gpiod 14 GPIO_ACTIVE_LOW>;
		channel-frequency = <16>;
		rf-power-attenuation = <18>;
		lna-gain;
		tx-address = [e7 e7 e7 e7];
		payload-fixed-size = <32>;
		rx-datapipes-number = <2>;
		rx-datapipe0-address = [e7 e7 e7 e7];
		rx-datapipe1-address = [de ad de ad];
		payload-ack;
		payload-crc;
	};
};
